.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.forgot-password-heading {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.forgot-password-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.forgot-password-input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgot-password-button {
    padding: 10px 15px;
    background-color: #55c7f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.back-button {
    margin-top: 5px;
    padding: 10px 15px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.forgot-password-button:hover {
    background-color: #3894c8;
}